{% extends "base.html" %}
{% from "bootstrap/pagination.html" import render_pagination %}
{% import "bootstrap/wtf.html" as wtf %}

{% block mycontent %}

<style>
button.add-profile{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 9px 27px;

    position: absolute;
    width: 205px;
    height: 60px;
    left:calc(50% - 100px);
    top: 315px;

    background: #839B97;
    border-radius: 10px;
}

a.add-profile{
    position: static;
    width: 150px;
    height: 35px;
    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
}

table.table-for-profile{
    width:65%;

}

td.image-setter{
    width: 25%;
    border-radius: 40px 0px 0px 40px
}

th.name-setter{
border-radius: 0px 40px 0px 0px;
background-color:#FFFFFF
}

p.name-setter{
font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
font-size: 28px;
padding-left: 40px;

}

img.favorite-setter{
    height:35px;
    weight:35px;
    }

img.refresh-setter{
    height:30px;
    weight:30px;
    padding-left: 5px;
}

h3.post-setter{
font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
font-size: 24px;
padding-left: 40px;
}

h3.statistic-setter{
font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 300;
font-size: 20px;
padding-left: 40px;
}

h3.info-setter{
font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 700;
font-size: 24px;
}

th.statistic-setter{
background-color:#FFFFFF
}

td.back-setter{
background-color:#FFFFFF
}

td.info-setter{
border-radius: 0px 0px 40px 0px;
background-color:#FFFFFF
}

img.profile-border{
    width: 100%;
    border-radius: 40px 0px 0px 40px;
}

.table-scroll {
  top: 150px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
  margin: auto;
  overflow: auto;
  height: 75%;

}

.table-scroll table {
  width:65%;
  margin: auto;
  border-collapse: separate;
}

div.bottom{
    position: absolute;
    left:calc(50% - 85px);
    bottom: -50px;
}

td.empty-space{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

button.enter{
    background: #839B97;
    border-radius: 20px;
}


button.nav-3{
    display: flex;
    height: 35px;
    flex-direction: column;
    align-items: flex-start;
    background: #839B97;
    border-radius: 10px;
    right: 20px;
}

a.nav-3{
    position: static;
    font-family: Abhaya Libre;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    height: 35px;
    width: 90px;

    color: #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
}

a.nav-3:hover {
    background: #FFFFFF;
    color: #839B97;
}

button.refresh-button{
    background-color: #FFFFFF;
    border: None;
}

button.favorite-button{
    background-color: #FFFFFF;
    border: None;
        float: right;
    margin:10px 80px 0 0;
}

</style>
{%- if current_user.is_authenticated -%}

<h1 class="profile">Active profiles</h1>
<div>
    <h3 class="profile-filter">Filters</h3>
</div>
<div>
    <h3 class="profile-view">View</h3>
    <button class="image-grid" type="button">
        <img src="https://www.pinclipart.com/picdir/big/163-1630820_grid-comments-grid-icon-free-clipart.png"
             height="25" width="25"/>
    </button>
    <button class="image-list" type="button">
        <img src="https://cdn-icons-png.flaticon.com/512/151/151917.png" height="30" width="30"/>
    </button>
</div>

{% if profiles|length < 1 %}

<h1 class="central-text">There are no active profiles at the moment
    Please press button to add Intagram profile</h1>
<button class="add-profile" type="button"
        onclick='f=window.open(href="{{ url_for("profile.add_profile") }}","fenetre","the style (without style tag, example - width=450, height=550, no px")'
        style="cursor: pointer;">
    <a class="add-profile">Add Profile</a>
</button>

{%- endif -%}

{% if profiles|length >= 1 %}
<div id="table-scroll" class="table-scroll">
    <table class="table-designed">
        <tbody>
        {%- for profile in profiles -%}
        <tr class="animated fadeIn delay-{{ loop.index }}">
            <td class="image-setter" rowspan="4">
                {%- if profile.avatars -%}
                    <img class="profile-border" src="https://iplanner-photo-saver.s3.eu-central-1.amazonaws.com/profile/{{ profile.name }}/profile-photo/{{ profile.name }}.jpg" >
                {%- else -%}
                    <img class="profile-border" src="/../static/img/empty.jpg" >
                {%- endif -%}
            </td>
        </tr>
        <tr>
            <th class="name-setter" colspan="4">
                <p class="name-setter">
                    {{ profile.name }}
                    <button class="refresh-button" onclick="window.location.href='{{ url_for('profile.update_user_info',name=profile.name) }}';">
                        <img class="refresh-setter" src="/../static/img/refresh_icon.png" >
                    </button>
                    <button class="favorite-button">
                        <img class="favorite-setter" src="/../static/img/favorit.png" >
                    </button>
                </p>

            </th>
        </tr>
        <tr>
            <th class="statistic-setter"  colspan="4">
                <h3 class="statistic-setter">
                    kejgioaweigweigjaweigjawilegjklasdgklasdjg<br>
                    klsdgklhsdklghasdklghklsdghasdlhglajdhglaei<br>
                    gjawilegjklasdgklasdjgklsdgklhsdklghasdklghklsdghasdlhgla
                </h3>
            </th>
        </tr>
        <tr>
            <td class="back-setter"><h3 class="post-setter">Posts: {{ profile.post }}</h3></td>
             <td class="back-setter"><h3 class="info-setter">Followers: {{ profile.follower }}</h3></td>
             <td class="back-setter"><h3 class="info-setter">Following: {{ profile.following }}</h3></td>
            <td class="info-setter"><h3 class="info-setter"><button class="nav-3"><a class="nav-3" href='{{ url_for("profile.show_profile",name=profile.name)  }}'>Enter</a></button></h3></td>
        </tr>
        <td class="empty-space">.</td>
        {%- endfor -%}
        </tbody>
    </table>
</div>


<div class="bottom">
    {% if pagination and pagination.pages > 1 %}
    <div class="container-fluid text-center">
        {{ render_pagination(pagination) }}
    </div>
</div>

{%- endif -%}
{%- endif -%}
{% endif %}
{%- endblock -%}