{% extends "base.html" %}
{% block mycontent %}
<h1 class="central-text-index_main">Iplanner is a simple application <br></h1>
<h1 class="central-text-index_secondary"><br>That gonna help you better organize and automate all the processes in your Instagram<br>
    <br>Get statistics, and predict the best profile development scenario</h1>

{% endblock %}

{%- block scripts -%}
    <script src="{{ url_for('static',filename='js/jquery-2.2.3.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>
{%- endblock scripts -%}